body {
    font-family: 'Kumbh Sans', sans-serif;
    justify-content: center;
    background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size: 300rem;
    height: 45rem;
    display: flex;
    overflow: hidden;
    position: static;
}
main {
    display: flex;
    width: 40rem;
    height: 26rem;
    margin-top: 5rem;
    background-image: url(images/bg-pattern-desktop.svg);
    background-color: white;
    border-radius: 15px;
}
.left img {
    display: flex;
    position: absolute;
    width: 17rem;
    height: 15rem;
    left: 0;
    right: 30rem;
    top: 10rem;
    bottom: 0;
    margin: 0 auto;
}
.right {
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    margin-left: 17rem;
}
.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
.answer p {
    margin: 0;
}
.question-container {
    border-bottom: 2px solid hsl(240, 5%, 91%);
    padding: 10px 0;
    margin: 5px 0;
}
.question {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
}
.question p {
    margin: 0;
}
.question:hover {
    color: hsl(14, 88%, 65%);
}
.question.is-open {
    margin: 0;
    font-weight: 700; 
    color: black !important;
}
.question img {
    width: 10px;
    height: 10px;
}
/* This is after is opens */
.question.is-open img {
    transform: rotate(180deg);
    width: 10px;
    height: 10px;
}
@media only screen and (max-width: 800px){
    .right {
        margin-left: 0;
    }
    .left {
        display: flex;
        width: 5rem;
    }
    main {
        height: 30rem;
        margin-top: 11rem;
    }
    .left img {
        display: flex;
        width: 17rem;
        height: 15rem;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0 auto;
    }
}

